h1{
color: blue;
background-color: gray;
border: 1px solid darkgray;
}

.paragraph{
    color: rgb(146, 209, 146);
    background-color: rgb(249, 249, 78);
}
p{
    color: red;
    font-size: 18px;
    font-weight: bold;
}
*{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

div span{
    color: plum;
    font-style: italic;
}